* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  outline: none;
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 0.1pc;
  background-color: #7c7c7c00;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 10px;
}

:root {
  --dimas-100: black;
  --primary-100: #ffa500;
  --primary-200: #dd8900;
  --primary-300: #885400;
  --accent-100: #808080;
  --accent-200: #2b2b2b;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --bg-100: #efefef;
  --bg-200: #e5e5e5;
  --bg-300: #bdbdbd;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}
body {
  background: var(--bg-200);
  color: var(--text-1);
}

section {
  min-height: 100vh;
  width: 100%;
  padding: 10% 14rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 12% 4rem;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000000000000000000;
}

.logo {
  font-size: 3rem;
  color: #c80c0c;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.logo:hover {
  transform: scale(1.1);
}

.logo span {
  text-shadow: 0 0 25px var(--);
}
.navbar a {
  font-size: 1.8rem;
  color: var(--text-1);
}
nav ul {
  display: flex;
  gap: 2rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link,
.drop-down li {
  list-style: none;
  height: 100%;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: currentColor;
}

.drop-down {
  position: absolute;
  padding: 0.5rem 0;
  margin: 0.5rem -0.5rem;
  background: transparent;
  color: var(--dimas-100);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-size: 12px;
  display: none;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.188);
  color: #fff;
  border-radius: 0.5rem;
}

.services:hover .drop-down {
  display: block;
}

.services a {
  display: flex;
  align-items: center;
}

.services .dropdown-icon {
  font-size: 18px;
  position: relative;
  right: -5px;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out all;
}

.services:hover .dropdown-icon {
  transform: rotate(180deg);
}

.drop-down li:hover {
  background: black;
  color: #fff;
  border-radius: 0.5rem;
}

#home {
  background-image: url(asset_item/Fungsi/2020-Koenigsegg-Jesko-007-1080.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home button {
  background-color: rgb(255, 204, 0);
  width: 160px;
  height: 50px;
  border-radius: 20px;
  position: absolute;
  bottom: 20%;
  left: 20%;
  color: #333333;
  z-index: 200;
}

.motor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}

.motor-image img {
  margin-bottom: 13px;
  width: 100%;
  height: auto;
  border-radius: 9px;
}

.car {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}

.car-image img {
  margin-bottom: 13px;
  width: 100%;
  height: auto;
  border-radius: 9px;
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  top: 12rem;
  text-transform: capitalize;
}

.product-container {
  margin-top: 15rem;
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 1.5rem;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

#parts {
  padding-top: 5rem;
}

#parts .product-image {
  height: 200px;
}

#parts .product-container {
  margin-top: 15rem;
  padding: 0 10vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#parts .product-card {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

#card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  padding: 3rem;
  border-bottom: 1px solid #ddd;
  font-size: 2.5rem;
  background-color: rgb(244, 244, 244);
  border-radius: 1rem;
}

.cart-item .btn {
  background-color: rgb(244, 244, 244);
  padding: 1rem 2rem;
  color: #7e7e7e;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cart-item .btn:hover {
  background-color: #ff7d7d;
  color: white;
}

#no-product {
  font-size: 2rem;
  margin: 5rem 0;
  color: #7e7e7e;
  border-bottom: 1px solid #ddd;
}

.cart-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  top: 1rem;
  text-transform: capitalize;
}

.cart-container {
  margin: 1.2rem 0;
  padding: 0 10vw;
  display: row;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.total {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 2rem 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  outline: none;
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 0.1pc;
  background-color: #7c7c7c00;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 10px;
}

:root {
  --dimas-100: black;
  --primary-100: #ffa500;
  --primary-200: #dd8900;
  --primary-300: #885400;
  --accent-100: #808080;
  --accent-200: #2b2b2b;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --bg-100: #efefef;
  --bg-200: #e5e5e5;
  --bg-300: #bdbdbd;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}
body {
  background: var(--bg-200);
  color: var(--text-1);
}

section {
  min-height: 100vh;
  width: 100%;
  padding: 10% 14rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 12% 4rem;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  font-size: 3rem;
  color: #c80c0c;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.logo:hover {
  transform: scale(1.1);
}

.logo span {
  text-shadow: 0 0 25px var(--);
}
.navbar a {
  font-size: 1.8rem;
  color: var(--text-1);
}
nav ul {
  display: flex;
  gap: 2rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link,
.drop-down li {
  list-style: none;
  height: 100%;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: currentColor;
}

.drop-down {
  position: absolute;
  padding: 0.5rem 0;
  margin: 0.5rem -0.5rem;
  background: transparent;
  color: var(--dimas-100);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-size: 12px;
  display: none;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.188);
  color: #fff;
  border-radius: 0.5rem;
}

.services:hover .drop-down {
  display: block;
}

.services a {
  display: flex;
  align-items: center;
}

.services .dropdown-icon {
  font-size: 18px;
  position: relative;
  right: -5px;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out all;
}

.services:hover .dropdown-icon {
  transform: rotate(180deg);
}

.drop-down li:hover {
  background: black;
  color: #fff;
  border-radius: 0.5rem;
}

#home {
  background-image: url(asset_item/Fungsi/2020-Koenigsegg-Jesko-007-1080.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home button {
  background-color: rgb(255, 204, 0);
  width: 160px;
  height: 50px;
  border-radius: 20px;
  position: absolute;
  bottom: 20%;
  left: 20%;
  color: #333333;
  z-index: 200;
}

.motor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}

.motor-image img {
  margin-bottom: 13px;
  width: 100%;
  height: auto;
  border-radius: 9px;
}

.car {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}

.car-image img {
  margin-bottom: 13px;
  width: 100%;
  height: auto;
  border-radius: 9px;
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  top: 12rem;
  text-transform: capitalize;
}

.product-container {
  margin-top: 15rem;
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 1.5rem;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

#parts {
  padding-top: 5rem;
}

#parts .product-image {
  height: 200px;
}

#parts .product-container {
  margin-top: 15rem;
  padding: 0 10vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#parts .product-card {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

#card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  padding: 3rem;
  border-bottom: 1px solid #ddd;
  font-size: 2.5rem;
  background-color: rgb(244, 244, 244);
  border-radius: 1rem;
}

.cart-item .btn {
  background-color: rgb(244, 244, 244);
  padding: 1rem 2rem;
  color: #7e7e7e;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cart-item .btn:hover {
  background-color: #ff7d7d;
  color: white;
}

#no-product {
  font-size: 2rem;
  margin: 5rem 0;
  color: #7e7e7e;
  border-bottom: 1px solid #ddd;
}

.cart-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  top: 1rem;
  text-transform: capitalize;
}

.cart-container {
  margin: 1.2rem 0;
  padding: 0 10vw;
  display: row;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.total {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 2rem 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  outline: none;
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 0.1pc;
  background-color: #7c7c7c00;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 10px;
}

:root {
  --dimas-100: black;
  --primary-100: #ffa500;
  --primary-200: #dd8900;
  --primary-300: #885400;
  --accent-100: #808080;
  --accent-200: #2b2b2b;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --bg-100: #efefef;
  --bg-200: #e5e5e5;
  --bg-300: #bdbdbd;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}
body {
  background: var(--bg-200);
  color: var(--text-1);
}

section {
  min-height: 100vh;
  width: 100%;
  padding: 10% 14rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 12% 4rem;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  font-size: 3rem;
  color: #c80c0c;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.logo:hover {
  transform: scale(1.1);
}

.logo span {
  text-shadow: 0 0 25px var(--);
}
.navbar a {
  font-size: 1.8rem;
  color: var(--text-1);
}
nav ul {
  display: flex;
  gap: 2rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link,
.drop-down li {
  list-style: none;
  height: 100%;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: currentColor;
}

.drop-down {
  position: absolute;
  padding: 0.5rem 0;
  margin: 0.5rem -0.5rem;
  background: transparent;
  color: var(--dimas-100);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-size: 12px;
  display: none;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.188);
  color: #fff;
  border-radius: 0.5rem;
}

.services:hover .drop-down {
  display: block;
}

.services a {
  display: flex;
  align-items: center;
}

.services .dropdown-icon {
  font-size: 18px;
  position: relative;
  right: -5px;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out all;
}

.services:hover .dropdown-icon {
  transform: rotate(180deg);
}

.drop-down li:hover {
  background: black;
  color: #fff;
  border-radius: 0.5rem;
}

#home {
  background-image: url(asset_item/Fungsi/2020-Koenigsegg-Jesko-007-1080.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home button {
  background-color: rgb(255, 204, 0);
  width: 160px;
  height: 50px;
  border-radius: 20px;
  position: absolute;
  bottom: 20%;
  left: 20%;
  color: #333333;
  z-index: 200;
}

.motor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}

.motor-image img {
  margin-bottom: 13px;
  width: 100%;
  height: auto;
  border-radius: 9px;
}

.car {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}

.car-image img {
  margin-bottom: 13px;
  width: 100%;
  height: auto;
  border-radius: 9px;
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  top: 12rem;
  text-transform: capitalize;
}

.product-container {
  margin-top: 15rem;
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 1.5rem;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

#parts {
  padding-top: 5rem;
}

#parts .product-image {
  height: 200px;
}

#parts .product-container {
  margin-top: 15rem;
  padding: 0 10vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#parts .product-card {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

#card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  padding: 3rem;
  border-bottom: 1px solid #ddd;
  font-size: 2.5rem;
  background-color: rgb(244, 244, 244);
  border-radius: 1rem;
}

.cart-item .btn {
  background-color: rgb(244, 244, 244);
  padding: 1rem 2rem;
  color: #7e7e7e;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cart-item .btn:hover {
  background-color: #ff7d7d;
  color: white;
}

#no-product {
  font-size: 2rem;
  margin: 5rem 0;
  color: #7e7e7e;
  border-bottom: 1px solid #ddd;
}

.cart-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  top: 1rem;
  text-transform: capitalize;
}

.cart-container {
  margin: 1.2rem 0;
  padding: 0 10vw;
  display: row;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.total {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 2rem 0;
}

/*preview*/

.products-preview{
  position: fixed;
  top:0; left:0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0,0,0,.8);
  display: none;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  z-index: 100000;
}

.preview{
  display: none;
  padding:2rem;
  text-align: center;
  background: #fff;
  position: relative;
  border-radius: 1rem;
  margin:2rem;
  width: 75rem;
=======
}

.products-preview .preview{
  display: none;
  padding:2rem;
  text-align: center;
  background: #a6a3a3;
  position: relative;
  margin:2rem;
  width: 50rem;
  border-radius: 30px;
>>>>>>> d90964d3f0d4db343a662a11d6bfad133f016b72
}

.products-preview .preview.active{
  display: inline-block;
}

 .products-preview .preview img{
<<<<<<< HEAD
  margin-top: 4rem;
  height: 40rem;
=======
  height: 20rem;
>>>>>>> d90964d3f0d4db343a662a11d6bfad133f016b72
}

.products-preview .preview .fa-times{
  position: absolute;
  top:1rem; right:1.5rem;
  cursor: pointer;
  color:#444;
<<<<<<< HEAD
  font-size: 5rem;
  transition: all 0.1s ease-in-out;
}

.products-preview .preview .fa-times:hover{
  color: rgb(255, 25, 71);
}

.products-preview .preview h3{
  color:#000000;
  padding:.5rem 0;
  font-size: 4.5rem;
}

.products-preview .preview p{
  line-height: 1.5;
  padding:1rem 0;
  font-size: 1.6rem;
  color:#777;
}

.products-preview .preview .price{
  padding:1rem 0;
  font-size: 3.5rem;
  color:#000000;
}

.preview-btn {
  padding: 10px;
  width: 60%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #8d8d8d;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}

.preview-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

/* search */
=======
  font-size: 4rem;
}

.products-preview .preview .fa-times:hover{
  transform: rotate(90deg);
}

>>>>>>> d90964d3f0d4db343a662a11d6bfad133f016b72

.search-box {
  width: 600px;
  background-color: #fff;
  margin: 200px auto 0;
  border: 5px;
}

.row {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.search-box input {
  flex: 1;
  height: 5rem;
  background: transparent;
  border: 0;
  outline: 0;
}

.result-box ul {
  border-top: 1px solid white;
  padding: 15px 10px;
}

.data-list {
  list-style-type: none;
  border-radius: 3px;
  padding: 15px 10px;
}

.result-box ul li:hover {
  background-color: #2b2b2b;
  color: white;
<<<<<<< HEAD
}
=======
}

>>>>>>> d90964d3f0d4db343a662a11d6bfad133f016b72
